@eu.jstack:registry=https://nexus.jstack.eu/repository/eu.jstack/
//nexus.jstack.eu/repository/eu.jstack/:_auth=${JSTACK_NEXUS_TOKEN}
//nexus.jstack.eu/repository/eu.jstack/:email=${JSTACK_NEXUS_EMAIL}
//nexus.jstack.eu/repository/eu.jstack/:always-auth=true

registry=https://registry.npmjs.com/
